* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainFont: "Space Mono", monospace;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--mainFont);
  scroll-behavior: smooth;
  background: url("images/body-background.jpg");
  background-attachment: fixed;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}
.main-container {
  width: 95%;
  margin: 0 auto;
}

#main-header {
  background: #1c2851;
  height: 60px;
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.main-header-wrapper ul {
  padding-top: 19px;
}
.main-header-wrapper li {
  display: inline;
  margin-right: 30px;
}
.main-header-wrapper a:hover {
  color: #bdc3c7;
}

.mobile-menu {
  overflow: hidden;
  background-color: #1c2851;
  position: relative;
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.mobile-menu .links {
  display: none;
}

.mobile-menu a {
  color: white;
  padding: 14px 16px;
  display: block;
}

.mobile-menu a.hamburger-icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.mobile-menu a:hover {
  background-color: #ddd;
  color: black;
}

#banner {
  width: 100%;
  height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://media1.tenor.com/images/68ac8cde4251ff233750202af3dda98a/tenor.gif?itemid=15034621");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-align: center;
  position: relative;
  display: grid;
}
#banner h1 {
  font-weight: 900;
  align-self: center;
}

#carousel {
  padding: 100px 0px;
}
#carousel h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.carousel-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  width: 78%;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid white;
}
.carousel-wrapper img {
  width: 1000px;
  height: 100%;
  transform: translateX(0px);
  transition: 0.3s ease-in-out;
}

#planets {
  padding: 100px 0px;
  background: black;
  color: white;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
#planets h1 {
  text-align: center;
  margin-bottom: 30px;
}
.planet-box {
  width: 100%;
  border: 2px solid white;
  text-align: center;
  margin-bottom: 30px;
}
.planet-box img {
  width: 100%;
  height: 200px;
}
.planet-box h3,
.planet-box p {
  padding: 10px;
}
.planets-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
}

#about-us {
  padding: 100px 0px;
  color: white;
}
#about-us h1 {
  text-align: center;
  margin-bottom: 30px;
}

.about-box {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 50px;
  border: 1px solid white;
  background: black;
}
.about-box h3,
.about-box p {
  padding: 10px;
}
.about-box h3 {
  border-top: 1px solid white;
}
.about-box img {
  width: 100%;
  height: 300px;
}
.about-us-wrapper {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 30px;
  justify-items: center;
}

footer {
  text-align: center;
  padding: 30px 0px;
  color: white;
  background: black;
  border-top: 3px solid white;
}
footer p {
  border-top: 1px solid white;
  padding-top: 10px;
}
footer i {
  margin: 20px 10px;
  color: white;
  background: #1c2851;
  padding: 10px 15px;
  cursor: pointer;
}

.animation {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s ease-in-out;
}
.animation-appear {
  opacity: 1;
  transform: translateY(0px);
}

@media only screen and (max-width: 950px) {
  .carousel-wrapper {
    width: 100%;
  }
  #carousel h1 {
    font-size: 35px;
  }

  .planets-wrapper {
    grid-template-columns: auto auto;
  }
  .about-us-wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 650px) {
  .planets-wrapper {
    grid-template-columns: auto;
  }
  .about-us-wrapper {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 545px) {
  #main-header {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  #carousel h1 {
    font-size: 23px;
  }
}
